.container_home {
  margin: 15px;

  .block_news {
    position: relative;
    background:  url("https://img.freepik.com/free-vector/realistic-news-studio-background_23-2149985600.jpg?w=2000") bottom center / cover no-repeat fixed;
    height: 70vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
    .content_block_news {
      position: relative;
      text-align: center;
      color: white;
      font-size: 25px;

      h1 {
        
        margin-bottom: 25px;
      }

      button {
        width: 220px;
        height: 35px;
        background: none;
        border: 2px solid white;
        font-size: 17px;
        font-weight: bold;
        color: white;
        cursor: pointer;
      }
    }
  }
  .block_news::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.532);
  }

  .card_news {
    .title {
      text-align: center;
      margin: 40px 0;
      font-size: 40px;
      font-weight: 500;
    }
  }
}